/* src/components/AlbumDetails.css */
.album-details {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.album-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.album-details h1 {
    color: #333;
}

.album-details p, .album-details li {
    color: #666;
}
